.u-section-1 .u-sheet-1 {
  min-height: 686px;
}

.u-section-1 .u-group-1 {
  width: 886px;
  --radius: 10px;
  height: auto;
  border-style: solid;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 447px;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 12px 0 11px;
}

.u-section-1 .u-text-1 {
  margin: 75px auto 0 64px;
}

.u-section-1 .u-group-2 {
  width: 348px;
  --radius: 20px;
  height: auto;
  min-height: 96px;
  box-shadow: 0px 10px 0 0 rgba(171,191,211,1);
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 81px auto 0 269px;
}

.u-section-1 .u-container-layout-2 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-1 .u-text-3 {
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  margin: 55px 24px 0 794px;
}

.u-section-1 .u-icon-1 {
  font-size: 2em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-3 {
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 652px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 192px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 472px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 272px;
  }
}

.u-section-1 .u-group-2,
.u-section-1 .u-group-2:before,
.u-section-1 .u-group-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-2.u-group-2.u-group-2:hover {
  box-shadow: 0px 10px 0 0 rgba(0,43,91,1) !important;
  border-color: #002b5b !important;
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
}

.u-section-1 .u-group-2 {
  border-style: solid !important;
}

.u-section-1 .u-group-2.u-group-2.u-group-2.hover {
  box-shadow: 0px 10px 0 0 rgba(0,43,91,1) !important;
  border-color: #002b5b !important;
  border-style: solid !important;
  border-top-width: 3px !important;
  border-left-width: 3px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
}

.u-section-1 .u-group-2 {
  border-style: solid !important;
}

.u-section-1 .u-text-3,
.u-section-1 .u-text-3:before,
.u-section-1 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-3.u-text-3.u-text-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-3.u-text-3.u-text-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}